<div class="Login" fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;">
    <label for="">Democracy Login</label>
    
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix>check_circle</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </div>
  
  
  
